extends layout 
block content
  .container
    h3= title
    form(action='')
      label(for='name') Category Name
      input#name(type='text' name='name' placeholder='Category name..')
      label(for='description') Description
      textarea#description(name='description' placeholder='Description' style='height:200px')
      input(type='submit' value='Submit')