
.categories-wrapper {
  min-height: 100vh;
  width: 100%;
  height: auto;
}

.categories-wrapper h1,h2,h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category {
  width: 25%;
  min-height: 60vh;
  border-radius: 4px;
  overflow: hidden;
  border-top: 1px solid rgba(170, 170, 170, 0.3);
  box-shadow: 1px 5px 5px #aaa;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  margin-top: 5px;
}

.category h3 {
  margin: 5px;
  box-shadow: 1px 5px 5px #aaa;
  border-radius: 4px;
}

.read-more {
  max-height: 5vh;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .category-container {
    flex-direction: column;
  }
  .category {
    width: 50%;
    margin: 2em;
  }
}

@media screen and (max-width: 400px) {
  .category {
    width: 75%;
  }
}

/* Category Detail */

.detail-container {
  display: flex;
  justify-content: space-around;
}

.detail-wrapper {
  width: 80%;
  min-height: 70vh;
  height: auto;
  padding: 3em;
  box-shadow: 1px 2px 5px #aaa;
  border-radius: 4px;
}

.detail-wrapper-top {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.detail-wrapper-top h3 {
  width: 50%;
  min-height: 20vh;
  height: auto;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-wrapper-top div {
  width: 50%;
  min-height: 20vh;
  height: auto;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  font-size: 1.2em;
}

.detail-links {
  width: 15%;
  min-height: 51vh;
  height: auto;
  background: #000;
  opacity: 0.8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.detail-link {
  font-size: 1.8em;
  color: white;
  cursor: pointer;
  padding: 8px;
}

.detail-link:hover {
  border-radius: 50%;
  background: white;
  color: black;
  transition: all .8s ease-in-out;
}

.detail-links p {
  font-size: 1em;
  color: white;
} 


@media screen and (max-width: 800px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .detail-wrapper {
    width: 100%;
    margin-bottom: 1em;
  }

  .detail-links {
    width: 100%;
    min-height: 15vh;
    height: auto;
    flex-direction: row;
  }
}