
.categories-wrapper {
  min-height: 100vh;
  width: 100%;
  height: auto;
}

.categories-wrapper h1,h2,h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category {
  width: 25%;
  min-height: 60vh;
  border-radius: 4px;
  overflow: hidden;
  border-top: 1px solid rgba(170, 170, 170, 0.3);
  box-shadow: 1px 5px 5px #aaa;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  margin-top: 5px;
}

.category h3 {
  margin: 5px;
  box-shadow: 1px 5px 5px #aaa;
  border-radius: 4px;
}

.read-more {
  max-height: 5vh;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .category-container {
    flex-direction: column;
  }
  .category {
    width: 50%;
    margin: 2em;
  }
}

@media screen and (max-width: 400px) {
  .category {
    width: 75%;
  }
}

/* Category Detail */

.detail-container {
  display: flex;
  justify-content: space-around;
}

.detail-wrapper {
  width: 80%;
  min-height: 70vh;
  height: auto;
  padding: 3em;
  box-shadow: 1px 2px 5px #aaa;
  border-radius: 4px;
}

.detail-wrapper-top {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

  position: relative;
}

.detail-wrapper-top h3 {
  width: 50%;
  min-height: 20vh;
  height: auto;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-wrapper-top div {
  width: 50%;
  min-height: 20vh;
  height: auto;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  font-size: 1.2em;
}

.detail-links {
  width: 15%;
  min-height: 51vh;
  height: auto;
  background: #000;
  opacity: 0.8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.detail-link {
  font-size: 1.8em;
  color: white;
  cursor: pointer;
  padding: 8px;
}

.detail-link:hover {
  border-radius: 50%;
  background: white;
  color: black;
  transition: all .8s ease-in-out;
}

.detail-links p {
  font-size: 1em;
  color: white;
} 


@media screen and (max-width: 800px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .detail-wrapper {
    width: 100%;
    margin-bottom: 1em;
  }

  .detail-links {
    width: 100%;
    min-height: 15vh;
    height: auto;
    flex-direction: row;
  }
}

/* Delete Category */

.list-cars {
  margin-top: 1.5em;
  padding: 1em;
  box-shadow: 1px 2px 5px #aaa;
  min-height: 10vh;
  height: auto;
}

.delete-category {
  width: 50%;
  min-height: 20%;
  height: auto;
  margin: 5em auto;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #aaa;
}

.cancel {
  background-color: #04AA6D;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel a {
  color: white;
}

.delete-btn {
  padding: 1.5em;
  display: flex;
  justify-content: space-evenly;
}

.back {
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}

@media screen and (max-width: 800px) {
  .delete-category {
    width: 70%;
    height: 20%;
  }
}
@media screen and (max-width: 400px) {
  .delete-category {
    width: 80%;
    height: 20%;
  }
}

/* Category Car List */

.category-cars {
  min-height: 100vh;
  height: auto;
  padding: 1.5em 0;
}

.cars-category {
  width: 80%;
  margin: 1.5em auto;
  padding: 1em;
  border-radius: 5px;
  min-height: 50vh;
  height: auto;
  box-shadow: 1px 2px 5px #aaa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.cars-category div {
  width: 50%;
  height: 100%;
}

.cars-category div:nth-child(2) {
  text-align: left;
}

.see-detail {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0.5em 1em;
  box-shadow: 1px 2px 15px #aaa;
}

.see-category {
  border: 1px solid chartreuse;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.5em 1em;
  box-shadow: 1px 1px 15px #aaa;
  cursor: auto;
}

.see-detail:hover {
  box-shadow: 1px 2px 5px #aaa;
  transition: all 0.8s;
}

.cars-category:hover {
  box-shadow: 1px 2px 15px #aaa;
  transition: all 0.8s;
}

@media screen and (max-width: 800px) {
  .cars-category {
    width: 80%;
    min-height: 80vh;
    height: auto;
    flex-direction: column;
  }

  .see-category {
    border: 1px solid chartreuse;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.3em 0.8em;
  }
}
