.mySlides {
  position: relative;
  top: 0;
  left: 0;
  min-height: 90vh;
  height: auto;
  animation: slide;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
  animation-direction: alternate;
}

@keyframes slide {
  0% {left: 0;}
  100% {left: -100px;}
}

img {
  width: 100%;
  /* min-height: 90vh; 
  max-height: 90vh;  */
  height: 100%;
  /* height: auto; */
  position: absolute;
  top: 0;
  left: 0;
}

.display-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.deal-btn {
  background: transparent;
  border: 2px solid white;
  width: 200px;
  padding: 5px 16px;
  margin: 0 auto;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.deal-btn:hover {
  background: #45a049;
  /* box-shadow: 0px 2px 5px #aaa; */
  cursor: pointer;
  border: none;
  transition: all 0.8s;
}

.display-text h3, .display-text p{
  text-align: center;
  padding-bottom: 15px;
}


.homepage-title {
  color: black;
  border: 1px solid chartreuse;
}

.homepage-contact {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hompage-contact-text {
  width: 50%;
}

.homepage-form {
  width: 50%;
  padding: 1em 1.5em;
}

.homepage-form  input{
  width: 100%;
  /* margin: 0 auto; */
}

.w3-half {
  width: 50%;
  display: inline-block;
  padding: 2px;
}

.homepage-footer{
  text-align: center;
  padding:1.5em  0;
} 

.homepage-footer i {
  cursor: pointer;
  font-size: large;
} 

.homepage-footer i:hover{
  opacity: 0.8;
} 

@media screen and (max-width: 800px) {
  .mySlides {
    min-height: 70vh;
    height: auto;
  }
  .deal-btn {
    margin-bottom: 30px;
  }
  .display-text h3{
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.5em;
  }

  .display-text p{
    font-size: 1em;
  }
  .homepage-contact {
    flex-direction: column;
  }
  .hompage-contact-text {
    width: 80%;
    margin: 0 auto;
  }
  
  .homepage-form {
    width: 80%;
    margin: 0 auto;
    padding: 1em 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .mySlides {
    min-height: 50vh;
    height: auto;
  }
  .deal-btn {
    margin-bottom: 10px;
  }
}